<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FirewallAccessToken" value="LUFRPT01blZDWTBkSDZ6bHBuU04zRjZLU1FwTnJlT0U9ZTRpREEyNlVoSmcyWEVRZ2l6K1BqZ0J1WXJxTGU2b3ptV2tuSllBcFdKYz0="/>
    <add key="FirewallHostName" value="palab.redmond.corp.microsoft.com"/>
    <add key="Vsys" value="vsys1"/>
    <add key="LDAPUserName" value="redmond\alextc"/>
    <add key="LDAPUserPwd" value=""/>
    <add key="ActiveDirectoryForest" value="ntdev.corp.microsoft.com"/>
    <add key ="AssemblyFullPath" value="C:\Users\alextc\Documents\WindowsPowerShell\Modules\PANOS\PANOS.dll"/>
  </appSettings>
</configuration>