<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FirewallAccessToken" value="LUFRPT1YeUlGNGloRVVHbUdKRmpheHRuZTFOQ0Q4V3c9VnI2YmtCeGNMd0JqMTYyNEoyUldOQT09"/>
    <add key="FirewallHostName" value="palab.redmond.corp.microsoft.com"/>
    <add key="Vsys" value="vsys1"/>
    <add key="LDAPUserName" value="redmond\alextc"/>
    <add key="LDAPUserPwd" value=""/>
    <add key="ActiveDirectoryForest" value="ntdev.corp.microsoft.com"/>
    <add key ="AssemblyFullPath" value="C:\Users\alextc\Documents\WindowsPowerShell\Modules\PANOS\PANOS.dll"/>
    <add key="TestAgainstRunningConfig" value="false"/>
  </appSettings>
</configuration>